ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=

SERVER_PORT=8080

USE_LOCAL_STORAGE=true
LOCAL_STORAGE_DIR=/temp_storage

# This GCS Config would not be used if USE_LOCAL_STORAGE value is true
GCS_KEY_JSON= # GCS Secret Key JSON to access Bucket
GCS_BUCKET= # GCS Bucket Name
GCS_PROJECT_ID= # GCS Project ID to store the file
